  <!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>ColorTap</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/main.css">
    </head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140677515-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140677515-1');
</script>


  <body>
    <div id="playground">
            <svg id="svgSpace" overflow="hidden" >
              <clipPath id="myClip">
 </clipPath>
            </svg>
    </div>
<!--
    (CX - R), CY -->



    <button type="button" id="toggleSidebar" class="btn btn-info">
        <span> > </span>
    </button>

    <!-- Sidebar -->

    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Configure animation</h3>
        </div>

            <button type="button"  class="btn btn-dark" id="addNewCtrl">Add New Animation</button>
            <button type="button"  class="btn btn-dark" id="randColor">Randomize Color</button>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter" id="saveShare">Save & Share</button>
        <div class="bottom-nav">
           <a href="About.html">About</a>
           <a href="me.html">Me</a>
        </div>

    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Your creation is saved</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Here is the link to your creation:</p>
               <input type="text" value="http://localhost:3000/" id="savedLink">
               <button id = 'copyLink'>Copy Link</button>
          </div>
          <div class="modal-footer">
               Share your creation:
            <input class="float-left" type="image" id ='shareFB' src="./images/fb-icon.png" />
            <input  class="float-left" type="image" id ='shareTwitter' src="./images/twitter-icon.png" />
            <input  class="float-left" type="image" id ='shareWeibo' src="./images/weibo-icon.png" />
          </div>

     </div>
          <!-- <div class="modal-footer">

        </div> -->
      </div>

  </body>


  <script type="text/javascript">
   var sCtrls = <%- savedCtrls %>;
</script>


  <script type="module" src="./scripts/main.js"></script>
  <script src="//platform-api.sharethis.com/js/sharethis.js#property=5ce159cc6340bc001251d5e0&product=inline-share-buttons" async='async'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
