body{
  background: #ded7c9;
}

#sidebar {
    float: left;
    background-color: black;
    color: white;
    width: 32%;
    height: 100%;
    margin-left: -32%;
    transition: 0.8s;
    position: fixed; /* Stay in place */
    /* z-index: 1; */
}

#sidebar.active {
    margin-left: 0%;
}

#toggleSidebar{
  background-color: black;
  color: white;
  transition: 0.8s;
  border-radius: 0% 50% 50% 0%;
  border-color: #a9afb0;
  bottom: 50%;
  position: fixed;
  border: none;

}

#toggleSidebar.hide{
  margin-left: -28%;
}

#toggleSidebar.active{
  margin-left: 32%;
}

#svgSpace {
  position: absolute;
}

.bottom-nav{
  position: absolute;
    bottom: 0;
}
